#### Tokenize

In [27]:
import glob, re, os, nltk, collections, math

In [28]:
path = os.getcwd()
cand_li = os.listdir(path+"\data")
direc0 = []
for cand in cand_li:
    direc0.append(os.listdir(path+"\data\{}\\rawdata".format(cand)))
for a in range(len(direc0)):
    for b in range(len(direc0[a])):
        direc0[a][b] = path+"\data\\" + cand_li[a] + "\\rawdata\\" + direc0[a][b]
direc = []
for a in range(len(direc0)):
    for b in range(len(direc0[a])):
        direc.append(direc0[a][b])

In [29]:
def tokenize(direc):
    #print("cleaning candidate {}, document number {}".format(cand_var, doc_num))
    with open(direc, 'r', encoding='utf-8') as f:       
        f = f.read()
    f = f.lower()
    f = f.replace('\n', ' ')
    f = f.replace('\"', '')
    f = f.replace('\'', '')
    f = f.replace('/', '')
    f = f.replace(',', '')
    f = f.replace('.', '')
    f = f.replace('?', '')
    f = f.replace('!', '')
    f = f.replace('`', '')
    f = f.replace(';', '')
    f = f.replace(':', '')
    f = f.replace('(', '')
    f = f.replace(')', '')
    f = f.replace('_', '')
    f = f.replace('—', '')
    f = f.replace('$', '')
    f = f.replace('-', '')
    f = f.replace('@', '')
    f = f.replace('%', '')
    f = f.replace('&amp', '')
    f = re.sub('\d', '', f)
    f = re.sub('\s+', ' ', f)
    f = re.sub('\”', ' ', f)
    f = re.sub(r'\b\w\b', ' ', f) # 剔除一個字的
    
    #斷詞
    f = f.split()
    
    #製作stopwordlist
    from nltk.corpus import stopwords
    stopwords_list = stopwords.words('english')
    #remove stopwords
    f1 = []
    for n in range(len(f)):
        if f[n] not in stopwords_list:
            f1.append(f[n])
    
    #stemming
    #from nltk.stem.porter import PorterStemmer
    #pt = PorterStemmer()
    #result = []
    #for a in range(len(f1)):
    #    result.append(pt.stem(f1[a]))
    
    cnt = collections.Counter()
    for word in f1: #result
        cnt[word] += 1
    return cnt

In [4]:
#cnt = tokenize(direc)
#cnt

In [30]:
df = []
for a in range(len(direc)):
    df = df+list(tokenize(direc[a])) # count document term in collecitions
    cnt = collections.Counter()
    for word in df:
        cnt[word] += 1

In [31]:
dictionary = cnt.most_common()
len(dictionary)

12413

In [32]:
d1 = dict()
for a in range(len(dictionary)):
    d1.update({a: list(dictionary[a])})
import pandas as pd
import numpy as np
df = pd.DataFrame.from_dict(d1, orient='index')
df = df.rename(index=str, columns={0: 'term', 1:'df'})
#df.index = np.arange(1, len(df) + 1)
df['t_index'] = df.index
df = df[['t_index', 'term', 'df']]
df

      t_index             term  df
0           0           people  93
1           1        president  92
2           2          america  92
3           3               us  91
4           4              one  90
5           5          country  89
6           6             know  88
7           7            going  88
8           8            world  88
9           9             want  88
10         10              way  87
11         11               go  87
12         12              get  87
13         13            every  86
14         14              say  86
15         15             time  86
16         16             make  86
17         17             tell  85
18         18            right  85
19         19              new  85
20         20             need  85
21         21            would  85
22         22           united  84
23         23             many  84
24         24            years  84
25         25             said  83
26         26             much  83
27         27             like  83
28         28           states  82
29         29            great  82
...       ...              ...  ..
12383   12383        hellholes   1
12384   12384        frenchmen   1
12385   12385           berets   1
12386   12386     chainsmoking   1
12387   12387         laureate   1
12388   12388      reconsiders   1
12389   12389        lieberman   1
12390   12390            scoop   1
12391   12391            rarer   1
12392   12392             ieds   1
12393   12393        soleimani   1
12394   12394             bury   1
12395   12395           caesar   1
12396   12396           praise   1
12397   12397          behaves   1
12398   12398          decrees   1
12399   12399           exempt   1
12400   12400          listens   1
12401   12401           “mitch   1
12402   12402              emp   1
12403   12403  electromagnetic   1
12404   12404            pulse   1
12405   12405       electrical   1
12406   12406             grid   1
12407   12407         seaboard   1
12408   12408         showvote   1
12409   12409            “lets   1
12410   12410            silas   1
12411   12411            naïve   1
12412   12412          cruzorg   1

[12413 rows x 3 columns]

In [33]:
df.to_csv(path+"\dictionary.txt", header=None, index=None, sep='\t', mode='w')

In [34]:
def transfer_doc_to_tfidf(file_path):
    # 把字典dictionary 讀進來，只需要1,2欄
    dic = pd.read_csv('dictionary.txt', sep = '\t', header = None, usecols = [1,2])
    dic = dic.rename(index=str, columns={1: 'term', 2:'df'}) #命名
    
    # 用字典來比對，字典包含文件x，則取出文件x的df
    doc_df = dic.loc[dic['term'].isin(list(tokenize(file_path)))] 
    doc_df = doc_df.reset_index()
    doc_df = doc_df.rename(index=str, columns={'index': 't_index'}) #命名
    
    # 計算idf, 輸入文件總數, df
    def idf_calculator(len_direc, doc_freq):
        idf = math.log10(len_direc/doc_freq)
        return idf
    idf = []
    for a in range(len(doc_df)):
            idf.append(idf_calculator(len(direc), doc_df.iloc[a]['df']))
    doc_df['idf'] = idf # 新增idf 這欄，以上面計算好的idf list 加上
    doc_df = doc_df.sort_values(by=['term'], ascending = True) # 以字順排序
    
    tf = tokenize(file_path).most_common()
    doc_tf = []
    for a in range(len(tf)):
        doc_tf.append(list(tf[a])) # 把tuple轉成 list
    doc_tf = pd.DataFrame(doc_tf) # 再轉成 dataframe
    doc_tf = doc_tf.rename(index=str, columns={0: 'term', 1:'tf'}) # 命名
    doc_tf = doc_tf.sort_values(by=['term'], ascending = True) # 以字順排序
    doc_df['tf'] = list(doc_tf['tf']) # 把 tf加上去 原本doc_df
    doc_df['tf_idf'] = doc_df.idf*doc_df.tf # 新增 tf_idf欄位，兩欄相乘
    
    #再補一個length normalize
    doc_df['Norm_tf_idf'] = doc_df.tf_idf/((sum(doc_df.tf_idf**2))**0.5)

    doc_df = doc_df.sort_values(by=['Norm_tf_idf'], ascending = False) # 以Norm_tf_idf大小排序，大到小
    
    return doc_df

In [35]:
transfer_doc_to_tfidf(direc[0])

    t_index           term  df       idf  tf    tf_idf  Norm_tf_idf
452    5437           fork   2  1.676694   3  5.030081     0.224601
335    1248           road  16  0.773604   6  4.641622     0.207255
407    2543       pipeline   7  1.132626   3  3.397877     0.151720
400    2339        experts   8  1.074634   3  3.223901     0.143952
234     519        climate  35  0.433656   7  3.035589     0.135544
360    1536        turnout  13  0.863780   3  2.591341     0.115707
267     678          black  29  0.515326   5  2.576628     0.115050
426    3243     imperative   5  1.278754   2  2.557507     0.114196
430    3247         lesson   5  1.278754   2  2.557507     0.114196
345    1333         fossil  15  0.801632   3  2.404897     0.107382
411    2857          prove   6  1.199572   2  2.399145     0.107125
415    2861        popular   6  1.199572   2  2.399145     0.107125
290     800  establishment  25  0.579784   4  2.319134     0.103553
331    1192          voter  17  0.747275   3  2.241824     0.100101
98      138      political  62  0.185332  12  2.223983     0.099304
324    1117           fuel  18  0.722451   3  2.167353     0.096776
401    2340          nafta   8  1.074634   2  2.149267     0.095968
306     997      difficult  20  0.676694   3  2.030081     0.090646
466    7291             ex   1  1.977724   1  1.977724     0.088308
467    7292    withdrawing   1  1.977724   1  1.977724     0.088308
477    7302       eventful   1  1.977724   1  1.977724     0.088308
463    7288      precedent   1  1.977724   1  1.977724     0.088308
476    7301       dirtiest   1  1.977724   1  1.977724     0.088308
471    7296            wet   1  1.977724   1  1.977724     0.088308
479    7304      expedient   1  1.977724   1  1.977724     0.088308
464    7289           knox   1  1.977724   1  1.977724     0.088308
470    7295           lick   1  1.977724   1  1.977724     0.088308
472    7297       lesbians   1  1.977724   1  1.977724     0.088308
469    7294      commodity   1  1.977724   1  1.977724     0.088308
473    7298        lesbian   1  1.977724   1  1.977724     0.088308
..      ...            ...  ..       ...  ..       ...          ...
26       29          great  82  0.063910   2  0.127820     0.005707
28       31            let  82  0.063910   2  0.127820     0.005707
67       81           weve  71  0.126465   1  0.126465     0.005647
66       80            ago  71  0.126465   1  0.126465     0.005647
68       82          young  71  0.126465   1  0.126465     0.005647
63       76     understand  72  0.120391   1  0.120391     0.005376
64       77           stop  72  0.120391   1  0.120391     0.005376
4         4            one  90  0.023481   5  0.117405     0.005242
23       25           said  83  0.058646   2  0.117291     0.005237
61       73          could  73  0.114401   1  0.114401     0.005108
59       71        dollars  73  0.114401   1  0.114401     0.005108
58       70       together  73  0.114401   1  0.114401     0.005108
1         1      president  92  0.013936   8  0.111486     0.004978
0         0         people  93  0.009241  12  0.110888     0.004951
50       61           care  74  0.108492   1  0.108492     0.004844
54       65           talk  74  0.108492   1  0.108492     0.004844
48       57           even  75  0.102662   1  0.102662     0.004584
44       53           look  76  0.096910   1  0.096910     0.004327
43       50           life  77  0.091233   1  0.091233     0.004074
13       14            say  86  0.043225   2  0.086450     0.003860
15       16           make  86  0.043225   2  0.086450     0.003860
2         2        america  92  0.013936   5  0.069679     0.003111
34       37           come  81  0.069239   1  0.069239     0.003092
8         8          world  88  0.033241   2  0.066482     0.002969
24       26           much  83  0.058646   1  0.058646     0.002619
21       23           many  84  0.053444   1  0.053444     0.002386
18       19            new  85  0.048305   1  0.048305     0.002157
11       12            get  87  0.038204   1  0.038204     0.001706
10       11             go  87  0.038204   1  0.038204     0.001706
3         3             us  91  0.018682   2  0.037364     0.001668

[481 rows x 7 columns]

In [36]:
for a in range(len(direc)):
    #補一個 文件 term 總數在開頭
    term_num = len(tokenize(direc[a]).most_common()) #This document has "term_num" terms.
    f = open(path+"\Doc"+str(a+1)+".txt", 'w')
    f.write('This document has ' + str(term_num) + ' terms. ' + '\n')
    f.close()

In [37]:
direc[87]

'C:\\Users\\qqoao\\Desktop\\Github\\107-2 Language, Cognition, Computation\\data\\Ted Cruz\\rawdata\\19. Ted Cruz’s speech at Liberty University.txt'

In [38]:
for a in range(len(direc)):
    print(a)
    transfer_doc_to_tfidf(direc[a]).to_csv(path+"\Doc"+str(a+1)+".txt", header=True, index=None, sep='\t', mode='a', columns=['t_index','term', 'Norm_tf_idf'])
    #mode = 'a' 往文件後面加上; sep = '\t' 以tab分隔

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94

In [39]:
def cosin_sim(docx,docy): #輸入兩file_path
    # 首先把兩個檔讀進來 fx跟fy
    fa = pd.read_csv(docx, sep = '\t', header = 'infer', skiprows=1, usecols=[0,1,2])
    fb = pd.read_csv(docy, sep = '\t', header = 'infer', skiprows=1, usecols=[0,1,2])
    # 找到兩個都存在的term，另存成fm, fn
    fm = fb[fb['t_index'].isin(fa['t_index'])]
    fn = fa[fa['t_index'].isin(fb['t_index'])]
    # 依照t_index排序
    fm = fm.sort_values(by=['t_index'], ascending = True)
    fn = fn.sort_values(by=['t_index'], ascending = True)
    # 把t_index設成index, 如此才不會無法兩相對應
    fm = fm.set_index(['t_index'])
    fn = fn.set_index(['t_index'])
    # 新增一欄x, 把fm, fn兩個tf_idf相乘
    fm['x'] = fm.Norm_tf_idf*fn.Norm_tf_idf
    # 把上述欄相加，就是內積的結果
    cosin = sum(fm.x) 
    return cosin

In [53]:
cosin_sim('Doc1.txt', 'Doc28.txt')

0.06198216629936714